# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
.venv/
.conda/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Python cache
*.pyo
*.pyd

# Testing / build / packaging
build/
dist/
*.egg-info/

# Logs
*.log
